*{
    /* background-color: #1a1a1a; */
    margin:0;
    border:border-box;
}
/* part 1: navbar code */
.navbar{
    width:100%;
    height:50px;
    background-color: #282828;;
    display: flex;
    
    align-items: center;
    /* justify-content:left; */
   
}
/* part 1.1: setting up items at the left of navbar */
.navbar-left{
    width: 50%;
    display: flex;
    align-items:center;
    background-color: #282828;
    justify-content: space-between;
    margin-right: 50px;
}
.navbar-left a:hover{
    color:white;
}
.nav-logo{
    height: 25px;
    width: 25px;
}
.logo{
    background-image: url(Logo.png);
    width: 100%;
    height: 100%;
    background-size:cover;
}
a{
    color: #a6a8aa;
    cursor: pointer;
    border:none;
    text-decoration:none;
    background-color: #282828;
    font-family:sans-serif   
}
.Interview-select{
    background-color: #282828;
    color:#a6a8aa;
    font-family:sans-serif;
    border:none;
    font-size: 16px;
}
.Interview-select:hover{
    color:white;
}
.Store-select{
    background-color: #282828;
    color: orange;
    font-family:sans-serif;
    border: none;
    font-size:16px;
}
/* .middle{
    background-color: #282828;
    height: 100%;
    width: 50%;
} */
/* part 1.2: setting up items at the right of navbar */
/* .navbar-right{
    width: 50%;
    
} */
.logo-on-right-of-navbar{
  
    width: 30%;
    display: flex;
    align-items: center;
    background-color: #282828;
    justify-content: space-between;
}
.navbar-right{
    
    width: 450px;
    display: flex;
    align-items:center;
    background-color: #282828;
    justify-content:end;
}
i{
    background-color: #282828;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}
/* part 2: footer code */
.footbar{
    /* position: absolute;
    bottom: 0; */
    margin-top: 96px; 
    height: 50px;
    background-color:#1a1a1a;
}
.footer-content{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-content a{
    color:#a6a8aa;
    background-color: #1a1a1a;
}
.footer-content a:hover{
    color: white;
}
/* part 3:content */
.content{
    /* height: 1000px; */
    background-color: white;
}
/* part 3.1 section for arrows but not yet functional */
.arrow-box-container{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #5D5C61;
}
.arrows{
    height: 40px;
    width: 40px;
    background-color: #282828;
    /* display: flex;
    align-items: center; */
    border-radius: 50%;
}
.arrows i{
    position: relative;
    top: 10px;
    right: 7px;
    background-color: #282828;
}
#arrow1{
    margin-right: 10px;
}

#arrow2{
    margin-left:10px;
}

/* part 3.2 color coded containers in the content section of the page */
.content-courses{
    /* padding-top: 20px;
    padding-left:20px;
    padding-right: 20px; */

    height: 130px;
    width: 100%;
    background-color:#938e94;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.course{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#course1{ 
    height: 110px;
    width: 22%;
    background-color: #1e533f;
    border-radius: 10px;
}
#course2{
    /* margin-top:20px;
    margin-bottom: 20px; */
    height: 110px;
    width: 22%;
    background-color: #6b5df8;
    border-radius: 10px;
}
#course3{
    height: 110px;
    width: 22%;
    background-color: #E7717D;
    border-radius: 10px;  
}
#course4{
    height: 110px;
    width: 22%;
    background-color:#2e8fd2;
    border-radius: 10px;
}
/* part 3.3 - creating see all link and heading for study plan in the content section  */
.content-studyplan{
    height: 50px;
    background-color: #1e533f;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:start;
}
.study-plan-heading{
    width: 100px;
    background-color: #1e533f;
    display: flex;
    justify-content: start;
}
.study-plan-seeall{
    width: 90%;
   align-self: center;
   display: flex;
   justify-content: flex-end;
}
.study-plan-seeall a{
    background-color: #1e533f;
}
/* part 3.4 - creating 6 different cards for different study plan */
.content-plan-cards{
    height: 200px;
    width: 100%;
    background-color: #6b5df8;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;

}
.content-cards{
    height: 40%;
    width: 20%;
    /* height: 100px;
    width: 500px; */
    background-color: #E7717D;
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* flex:200px;
    flex-direction:column; */
    /* flex-wrap: wrap;
    flex: 200px;
    flex-direction: row; */
    margin-left: 20px;
    margin-right: 15px;
    
}
.card-Image{
    height: 80%;
    width: 30%;
    background-color: #43ce99;
    border-radius: 20px;
    position: relative;
    left:10px;
}
.card-data{
    position:relative;
    left:20px;
}
.line{
    background-color: #E7717D;
    height: 30px;
    width: 100%;
    
}
/* part 3.5 - The line that appears after all the cards  */
.line hr{
    color: #6b5df8;
    position: relative;
    top: 15px
}
/* part 3.6- All the DSA topics and the expand button */
.DSA-topics{
    height: 40px;
    width: 100%;
    background-color: #5D5C61;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.topic{
    height: 30px;
    width: 10%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;  
}
.topic-num{
    height: 25px;
    width: 50%;
    background-color: #2e8fd2;
    position: relative;
    left: 7px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.topic-num h4{
    position: relative;
    left: 10px;
}
#Hash{
    width: 150px;
}
#Hash > .topic-num{
    width: 60px;
    position: relative;
    left: 10px;
}
#DP{
    width: 230px;
}
#DP > .topic-num{
    width: 60px;
}
.expand-items{
    height: 40px;
    width: 100px;
    background-color: #43ce99;
    display: flex;
    align-items: center;
}
.expand{
    position: relative;
    left: 10px;
}
.expand-symbol i{
    width: 16px;
}
.stack-topics{
    width: 100%;
    height: 65px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.stack{
    height: 40px;
   width: 150px;
   background-color: #1e533f;
   border-radius: 20px;
   display: flex;
   align-items: center;
}
.slide i{
    font-size: 20px;
}
.stack i{
    background-color: white;
}
/* part 3.7 The search and different sorting ways */
.search-and-sort{
    height: 100px;
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.select-tags{
    height: 30px;
    width: 160px;
    background-color: mediumpurple;
  
}
.Lists-select{
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: large;
    border-radius: 5px;
}
.SAS-search{
    height: 50px;
    width: 500px;
    display: flex;
    align-items: center;
}
#mag{
    height: 30px;
    width: 30px;
    color: #1a1a1a;
    background-color: white;
    font-size: 25px;
    border-radius: 5px;
}
.search-input{
    height: 30px;
    width: 400px;
}
.settings{
    height: 30px;
    width: 30px;
    font-size:25px;
    border-radius:5px;
}
.shuffle{
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
}
.shuffle-icon{
    height: 30px;
    width:30px;
    font-size:30px
}
.pick-one{
    height: 30px;
    width: 100px;
}